@charset "utf-8";
/* CSS Document */

html {
font-size: 100%;
}

body {
font-family: Georgia, "Times New Roman", Times, serif;
background-color: #666666;
margin: 0px;
font-size: 62.5%;
color: #000;
}
#ud-main-container {
	background-image: url(../img/main.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 333px;
	width: 990px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	border: 20px double #000;
}
#menu-container {
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	height: 60px;
	width: 990px;
	position: relative;
	font-size: smaller;
}
#navigation-tab-background-inactive {
	background-color: #B97A57;
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	height: 45px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 140px;
}
.credits {
	font-size: 1.4em;
	font-style: italic;
	color: #000000;
	text-align: right;
	display: inline;
	float: right;
	margin-top: 32px;
	margin-right: 60px;
}

#navigation-tab-inactive a {
	font-size: 1.2em;
	color: #000;
	text-decoration: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}
#navigation-tab-inactive {
	background-repeat: no-repeat;
	background-position: right top;
	height: 25px;
	padding-top: 5px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 28px;
	font-weight: normal;
	color: #000;
}

#body-container {
	width: 990px;
}
#ud-footer {
	background-image: url(../img/footer.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	clear: both;
	height: 35px;
	width: 990px;
}
.ud-footer {
	background-color: #000;
	height: 20px;
	width: 500pt;
	background-repeat: repeat;
}
.ud-footer {
	background-color: #000;
	height: 20pt;
	width: 500pt;
	position: relative;
}

#ud-left-panel {
	background-color: #FF0;
	display: inline;
	padding: 0px;
	float: left;
	width: 150px;
	margin-left: 60px;
}
h1 {
	font-size: x-large;
	font-weight: normal;
	color: #000000;
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	text-align: center;
}
h2 {
	font-size: 2.4em;
	font-weight: normal;
	color: #FFFFFF;
	margin-top: 0px;
	padding-bottom: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	white-space: normal;
	font-style: italic;
}
h3 {
	font-size: 1.6em;
	line-height: 125%;
	color: #000;
	margin-top: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
a:link {
	color: #0066cc;
	text-decoration: underline;
}
a:visited {
	color: #900;
	text-decoration: underline;
}
a:hover {
	color: #909;
	text-decoration: underline;
}



#body-content {
	background-color: #C60;
	display: inline;
	padding: 0px;
	float: left;
	width: 490px;
	margin-left: 40px;
	text-align: left;
}
.sidenote-summary {
	background-color: #93C;
	display: inline;
	padding: 0px;
	float: left;
	width: 213px;
	margin-left: 530px;
	position: absolute;
	top: 425px;
	height: 750px;
	left: 341px;
	text-align: center;
	font-size: 14pt;
}
#ud-main-container #body-content p {
	font-size: large;
}
#ud-main-container #body-content p {
	font-size: medium;
	font-style: italic;
}
.txt {
	font-size: 12%;
}
.txt {
	font-size: 12pt;
}
#ud-footer {
	background-color: #FFF;
	background-image: url(../img/footer.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	clear: both;
	height: 35px;
	width: 100%;
	margin-top: 10%;
	z-index: auto;
	bottom: 0px;
}
.credits {
	font-size: 1.2em;
	font-style: italic;
	color: #930;
	text-align: center;
	display: inline;
	float: none;
	margin-top: 32px;
	margin-right: 60px;
	vertical-align: middle;
}
